<mat-toolbar>
  <section class="menu">
    <img src="assets/images/angular.svg" alt="logo" />
    <nav>
      <li>
        <a routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li>
        <a routerLink="/services" routerLinkActive="active">Services</a>
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active">contact</a>
      </li>
    </nav>
    <nav>
      <li>
        <a routerLink="/auth/sign-in">
          <mat-icon aria-hidden="false" aria-label="Sign In">login</mat-icon>
        </a>
      </li>
    </nav>
  </section>
</mat-toolbar>
