.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 0.6s ease-in-out;

  &.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: black;
    transform: scale(1);
  }
  &.hide {
    display: block;
    width: 0;
    height: 0;
    z-index: 0;
    opacity: 0;
    transform: scale(0);
  }

  h3 {
    padding-top: 4rem;
    color: var(--color-white);
  }
}
