<section class="sign-in">
  <section class="form">
    <div class="description">
      <div>
        <mat-icon class="icon" matSuffix>invert_colors</mat-icon>
      </div>
      <h4>Hello there!</h4>
      <h2>Welcome Back</h2>
    </div>
    <form [formGroup]="formSignIn" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Your e-mail"/>
        <mat-icon class="icon" matSuffix>alternate_email</mat-icon>
        <mat-error *ngIf="isError('email')">{{getErrorMessage('email')}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button mat-flat-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon class="icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="isError('password')">{{getErrorMessage('password')}}</mat-error>
      </mat-form-field>
      <section class="content-action">
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        <button mat-flat-button class="btn-submit" type="submit" *ngIf="!loading" [disabled]="formSignIn.invalid">Sign in</button>
      </section>
    </form>
  </section>

  <section class="footer">
    <div>
      Don't have an account?
      <a routerLink="/auth/sign-up">Register</a>
    </div>
    <div>
      <a routerLink="/">Termes & Conditions</a>
    </div>
  </section>
</section>

