
.page-auth {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;

  .box {
    height: 100vh;

    &-left,
    &-right {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
    }
    &-left {
      width: 65vw;
      background-color: var(--color-info);
    }
    &-right {
      width: 35vw;
    }
  }
}
