<form class="search-form">
  <mat-form-field class="search-full-width">
    <input type="text" matInput [formControl]="formSearch" [matAutocomplete]="auto" >
    <mat-placeholder *ngIf="!placeholder" class="placeholder">Search</mat-placeholder>
    <mat-icon class="icon" matPrefix>search</mat-icon>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="display" ariaLabel="search...">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.topic}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
